body {
  background-color: aquamarine;
}
#board {
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
  position: relative;
}
#player {
  background-color: red;
  position: absolute;
}
.obstacle {
  background-color: greenyellow;
  position: absolute;
}
